body, html {
    background: #4c4f56;
    height: 100%;
	margin: 0;
}

/*web site's name*/
.name {
    font-size: 35px;
    color: #f1f1f1;
    text-align: center;
    font-family: fantasy;
}

/*user's choosen name*/
.uname {
    color: #f1f1f1;
}

/*side navigation bar*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;
}

/*navbar links*/
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: left;
}

/*navbar links when you are on them*/
.sidenav a:hover {
    color: #f1f1f1;
}


/*the big white (main side of the page)*/
.main {
    position: absolute;
    right: 0;
    text-align: center;
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 85%;
}

/*user's pfp*/
img {
    vertical-align: middle;
    width: 85%;
    height: 25%;
    border-radius: 50%;
}


