<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- css -->
<link rel="stylesheet" type="text/css" href="css/style.css">


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">


<!-- icon link -->
<link rel = "icon" href = "img/japan.png" type = "image/x-icon">




<!-- <heading block -->
  <div class="container-fluid" id="headings">
      <h1><strong>L°I°S°T°E°R</strong></h1>
      <h3 style="color: #1e1f1f;">Eszter Ronto's thesis</h3>
  </div>

<!-- navigation bar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);"> -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(-225deg, #ebf7ff 0%, #f2f2f2,  #f9fff0 100%);">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.php"><b>HOME</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="anime.php">Animes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="manga.php">Mangas</a>
        </li>       

      </ul>
      <li class="d-flex">
        <a href="signup.php"><button class="btn btn-outline-success me-2" type="submit">SignUp</button></a>
        <a href="login.php"><button class="btn btn-outline-success me-2" type="submit">LogIn</button></a>
      </li>
    </div>
  </div>
</nav>

