body {
    margin: 0;
    background-color: lightslategray;
}

/* japanese look alike font */
@font-face {
    font-family: MainFont;
    src: url('myfont.ttf');
}

table {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5%;
    position: fixed;
}

.synopsis {
    text-align: left;
    width: 50%;
}

.home i{
    color: white;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 15px;
    position: fixed;
}

.name {
    width: fit-content;
    text-align: left;
    font-family: MainFont;
    margin-left: 5%;
    color: #fff;
    position: fixed;
}

.choose {
    font-family: MainFont;
    color: white;
    position: fixed;
    margin-left: 50%;
    margin-top: 2%;
}


/* Button to open the form */
.add-button {
    background-color: #555;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    width: 150px;
    right: 10px;
    font-family: MainFont;
    font-size: 25px;
    margin-top: 1%;
}


/* The popup form - hidden by default */
.form-popup {
    width: 450px;
    display: none;
    position: fixed;
    top: 45px;
    right: 50px;
    font-family: MainFont;
}

/* Form container */
.form-container {
    width: 100%;
    padding-left: 10px;
    background-color: white;
}

/* Input fields */
.form-container input {
    width: 85%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

.input-container {
    display: flex;
    width: 90%;
    margin-bottom: 5px;
}

.icon {
    padding-top: 10px;
    background: rgb(59, 59, 59);
    color: white;
    min-width: 30px;
    text-align: center;
}  

/* Input focus */
.form-container input:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    margin-top: 1%;
    margin-left: 5%;
    width: 30%;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    width: 85%;
    margin-bottom:10px;
    opacity: 0.8;
}


/* cancel button */
.form-container .cancel {
    background-color: red;
}

/* hover effects to buttons */
.form-container .btn:hover, .add-button:hover {
    opacity: 1;
}

