body {
    background-size: cover;
}

/* japanese look alike font */
@font-face {
    font-family: MainFont;
    src: url('myfont.ttf');
}


/* navbar */
ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0%;    
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-size: 100%;
    font-family: cursive;
    display: block;
    text-align: center;
    padding: 6px 9px;
    margin-top: 15%;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: red;
    color: white;
    border-radius: 30%;
}



/* top div */
.top {
    width: 100%;
    margin: 0;
    height: 500px;
    background: linear-gradient(to top, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 1%;
}

.reddot {
    background-color: red;
    height: 75%;
    width: 25%;
    border-radius: 50%;
    top: 10%;
    position: absolute;
    text-align: center;  
    margin: 0 auto;
}


/* japanese culture */
h1 {
    font-size: 450%;
    font-family: Cambria;
    color: rgb(0, 0, 0);
    top: 22%;
    position: absolute;
    z-index: 1;
}

/* web page name */
h2 {
    font-family: MainFont;
    font-size: 240%;
    top: 50%;
    position: absolute;
    left: 17%;
}



/* Links row */
.choose {
    width: 90%;
    height: 75px;
    margin-top: 4%;
    border-width: 1px;
    overflow: hidden;
    margin-left: 6.5%;
}

.choose div {
    width: 16%;
    height: 70px;
    margin-right: 4%;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 300px;
}

.choose div:hover {
    transform: scale(0.96);
}

.c1 {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 270%;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}

.c2 {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 190%;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}

.c3 {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 190%;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}

.c4 {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 260%;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}

.c5 {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 220%;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}



/* tokyo */
.tokyo {
    width: 90%;
    height: 75px;
    margin-top: 4%;
    border-width: 1px;
    overflow: hidden;
    margin-left: 6.5%;
}

.tokyo div {
    width: 16%;
    height: 70px;
    margin-right: 4%;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 300px;
}