body {
    margin: 0;
    position: relative;
}

/* japanese look alike font */
@font-face {
    font-family: MainFont;
    src: url('../myfont.ttf');
}



/* upper site */
.upper {
    position: relative;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
}

/* bckground imgs */
.first {
    position: absolute;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    user-select: none;
}


/* upper bar */
.bar {
    width: 98%;
    position: absolute;
    overflow: hidden;
    top: 8px;
    left: 16px;
    display: inline;
}


.bar-right {
    width: 30%;
    position: absolute;
    float: right;
    display: flex;
    top: 32px;
    right: 16px;
    justify-content: space-around;
}

.bar-right a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    float: right;
}



.bar h2 {
    color: white;
    display: inline;
    padding-left: 10px;
}


/*user's pfp*/
.pfp {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-top: 10px;
    display: inline;
}


/* search */
input[type=text] {
    border-radius: 5px;
    width: 30%;
    height: 20px;
    float: right;
}

/* button {
    width: 5%;
    height: 25px;
    background: #a8a8a8;
    border-radius: 5px;
    float: right;
}

button:hover {
    background: #565555;
}

button i {
    color: #fff;
} */

.page {
    position: relative;
    top: 1200px;
    width: 95%;
    height: fit-content;
    
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    margin: auto;
}

.tag {
    display: inline-block;
    position: relative;
    width: 30%;
    text-align: center;
    padding-left: 25px;
    block-size: fit-content;
}

.tag img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.datas {
    display: inline-block;
    position: relative;
    width: 60%;
    height: fit-content;
}

h1, h3 {
    color: white;
}

.smallinf {
    position: relative;
    width: 30%;
    text-align: left;
    margin-left: 10%;
}

p {
    color: white;
    font-size: 25px;
}